[flake8]
max-line-length = 120

extend-ignore =
    C101, # Coding magic comment
    D100, # Missing docstring in public module
    D104, # Missing docstring in public package
    D202, # No blank lines allowed after function docstring
    D210, # No whitespaces allowed surrounding docstring text
    D401, # First line should be in imperative mood
    R504, # unnecessary variable assignment before return statement
    R505, # unnecessary else after return statement

per-file-ignores =
    sample_code.py: D100, D101, D102, D103, D104
    sample_code_with_logs.py: D100, D101, D102, D103, D104

exclude =
    ./.git,
    ./venv,
    ./_data,
    ./dist,
    ./unit_tests,

max-complexity = 10
optional-ascii-coding = True
