--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision~=0.14.0
torchaudio
numpy>=1.16.5
scipy
networkx
importlib_metadata

# Development
setuptools==65.6.3
build # building the package {pyproject-build}
twine # to publish on pypi {twine upload --repository-url=https://test.pypi.org/legacy/ dist/*}
johnnydep # to see dependencies {johnnydep <package>}

# Research
tensorflow>=2.0.0
tensorboard
torchviz
matplotlib
tabulate
pillow
# conda install python-graphviz graphviz
graphviz
# python-graphviz
seaborn
natsort

# Docs
sphinx>=4.2.0
sphinx-autobuild
rst-to-myst[sphinx]
myst_parser
furo
sphinx-rtd-theme
sphinx-autoapi
sphinx-copybutton
sphinx-notfound-page