# pytorch
# torchvision
# tensorboard
# tensorflow
# torchviz
# dataclasses
# numpy
# matplotlib
# tabulate
# pillow
# graphviz
# python-graphviz
# scipy
# seaborn
# natsort
# conda install python-graphviz graphviz numpy matplotlib tabulate pillow scipy seaborn natsort
# pip install tensorflow tensorboard torchviz dataclasses

