#
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision~=0.14.0
torchaudio
numpy
scipy
networkx

# dataclasses
# numpy
# matplotlib
# tabulate
# pillow
# graphviz
# python-graphviz
# scipy
# seaborn
# natsort
# conda install python-graphviz graphviz numpy matplotlib tabulate pillow scipy seaborn natsort
# pip install tensorflow tensorboard torchviz dataclasses
