# Docs
sphinx>=4.2.0
sphinx-autobuild
rst-to-myst[sphinx]
myst_parser
furo
sphinx-rtd-theme
sphinx-autoapi
sphinx-copybutton
sphinx-notfound-page
sphinx-inline-tabs
sphinxext-opengraph
sphinxcontrib-katex  # math
