# Docs
sphinx>=4.2.0
sphinx-autobuild
rst-to-myst[sphinx]
myst_parser
furo
sphinx-rtd-theme
sphinx-autoapi
sphinx-copybutton
sphinx-notfound-page
sphinx-inline-tabs
sphinxext-opengraph
sphinxcontrib-katex  # math
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
